:root {
  --primary-color: #3498db; /* Blue */
  --secondary-color: #95a5a6; /* Gray */
  --gradient-color1: #2c3e50; /* Dark Blue */
  --gradient-color2: #bdc3c7; /* Light Gray */
  --box-shadow-color: #1abc9c; /* Green */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1; /* Light Gray */
  background: -webkit-linear-gradient(
      rgba(44, 62, 80, 0.8),
      /* Dark Blue */ rgba(189, 195, 199, 0.8) /* Light Gray */
    ),
    url("images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  max-width: 800px;
  padding: 20px 50px;
  text-align: center;
}

.user-img {
  border-radius: 50px;
  max-width: 100px;
  box-shadow: 0 0 10px 3px var(--box-shadow-color);
}

main h1 {
  color: var(--box-shadow-color); /* Green */
  font-size: 1.8rem;
  margin: 1em 0 1.5em 0;
}

.link {
  height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px 3px var(--secondary-color);
  margin-top: 1.3rem;
  transform: skewX(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.link:hover {
  transform: skewX(-45deg) scale(1.05);
}

.link span {
  transform: skewX(45deg);
}

a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  body {
    padding: 20px 50px;
  }
}

@media screen and (min-width: 800px) {
  main {
    min-width: 800px;
    padding: 20px 50px;
  }
}
